@keyframes background-animation {
    0% {
        background-color: #FFFFFF;
        -webkit-background-color: #FFFFFF;
        -moz-background-color: #FFFFFF;

    }

    35% {
        color: white;
        -webkit-color: white;
        -moz-color: white;
    }
    
    50% {
        background-color: #1b1b1b;
        -webkit-background-color: #1b1b1b;
        -moz-background-color: #1b1b1b;
    }

    100% {
        background-color: #FFFFFF;
        -webkit-color: white;
        -moz-background-color: #FFFFFF;
    }
}

@-webkit-keyframes background-animation {
    0% {
        background-color: #FFFFFF;
        -webkit-background-color: #FFFFFF;
        -moz-background-color: #FFFFFF;

    }

    35% {
        color: white;
        -webkit-color: white;
        -moz-color: white;
    }
    
    50% {
        background-color: #1b1b1b;
        -webkit-background-color: #1b1b1b;
        -moz-background-color: #1b1b1b;
    }

    100% {
        background-color: #FFFFFF;
        -webkit-color: white;
        -moz-background-color: #FFFFFF;
    }
}

@-moz-keyframes background-animation {
    0% {
        background-color: #FFFFFF;
        -webkit-background-color: #FFFFFF;
        -moz-background-color: #FFFFFF;

    }

    35% {
        color: white;
        -webkit-color: white;
        -moz-color: white;
    }
    
    50% {
        background-color: #1b1b1b;
        -webkit-background-color: #1b1b1b;
        -moz-background-color: #1b1b1b;
    }

    100% {
        background-color: #FFFFFF;
        -webkit-color: white;
        -moz-background-color: #FFFFFF;
    }
}

body {
    animation-name: background-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    -webkit-animation-name: background-animation;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: background-animation;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
}